body{
    background-color: black;
    margin: 0;
    font-family: helvetica;
    color: azure;
}

img{width: 100%;
display: block;}

.container {
display: flex;
flex-wrap: nowrap;
align-items: flex-start;
}

.width80{
width: 80%;
}

.width20 {
width: 20%;
border-left: 1px solid crimson;
padding: 30px 20px;
box-sizing: border-box;
font-size: 13px;
line-height: 1.5;
color: azure;
position: sticky;
top: 0;
height: 100vh;
overflow-y: auto;
}

.header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 40px;
background-color: azure;
border-bottom: 1px solid crimson;
}


.header h1 {
font-size: 20px;
margin: 0;
letter-spacing: 2px;
}

.header h1 span {
color: black;
}

.header p {
margin: 0;
font-size: 15px;
color: azure;
font-style: italic;
font-weight: lighter;
}

.title {
display: flex;
flex-wrap: wrap;
border-bottom: 1px solid crimson;
}

.title-left {
width: 50%;
padding: 60px 40px;
border-right: 1px solid crimson;
box-sizing: border-box;
}

.title-left h2 {
font-size: 120px;
margin: 0;
line-height: 1;
font-family: Helvetica;
}

.title-left h2 span {
color: crimson;
}

.title-left p {
font-size: 15px;
font-style: italic;
line-height: 1.5;
margin-top: 30px;
max-width: 400px;
}

.title-left-label {
font-size: 11px;
letter-spacing: 4px;
color: azure;
font-family: Helvetica;
font-style: normal;
}

.title-right {
width: 50%;
padding: 60px 40px;
box-sizing: border-box;
}

.hero-image {
width: 100%;
background-color: azure;
height: 320px;
display: flex;
align-items: center;
justify-content: center;
font-size: 11px;
font-family: Helvetica;
color: azure;
letter-spacing: 2px;
}

.title-right p {
font-size: 13px;
color: azure;
font-style: italic;
margin-top: 15px;
line-height: 1.6;
border-top: 1px solid crimson;
padding-top: 12px;
}

.stats {
display: flex;
flex-wrap: wrap;
border-bottom: 1px solid crimson;
}

.stat {
width: 33.33%;
padding: 25px 40px;
border-right: 1px solid crimson;
box-sizing: border-box;
}

.stat:last-child {
border-right: none;
}

.stat h3 {
font-size: 28px;
margin: 0;
font-family: Helvetica;
color: azure;
}

.stat p {
margin: 5px 0 0;
font-size: 13px;
color: azure;
font-style: italic;
}

.section-header .num, .section-header .number {
font-size: 11px;
padding-left: 20;
color: crimson;
letter-spacing: 4px;
font-family: helvetica;
}

.section-header h2 {
font-size: 28px;
margin: 5px 0 0;
font-family: helvetica;
padding: 20px;
display: block;
border-bottom: 1px solid crimson;

}

.paik {
display: flex;
flex-wrap: wrap;
border-bottom: 1px solid crimson;
}

.paik-text {
width: 66%;
padding: 50px 40px;
border-right: 1px solid crimson;
box-sizing: border-box;
}

.paik-text p {
font-size: 17px;
line-height: 1.9;
margin-bottom: 20px;
}

.paik-sidebar {
width: 33%;
padding: 50px 30px;
box-sizing: border-box;
}

.paik-sidebar h3 {
font-size: 72px;
color: crimson;
font-family: helvetica;
margin: 0 0 10px;
line-height: 1;
}

.paik-sidebar p {
font-size: 13px;
color: azure;
font-style: italic;
line-height: 1.6;
margin-bottom: 25px;
}

.paik-image {
width: 100%;
height: 160px;
background-color: crimson;
display: flex;
align-items: center;
justify-content: center;
font-size: 10px;
color: azure;
letter-spacing: 2px;
font-family: helvetica;
}

.big-quote {
padding: 80px 40px;
text-align: center;
border-bottom: 1px solid crimson;
}

.big-quote blockquote {
font-size: 70px;
font-style:inherit;
font-weight: bolder;
line-height: 1;
max-width: 1200px;
margin: 0 auto 20px;
}

.big-quote p {
font-size: 11px;
letter-spacing: 4px;
color: azure;
font-family: helvetica;
margin: 0;
}

.counter {
display: flex;
align-items: baseline;
gap: 30px;
padding: 40px 40px;
border-bottom: 1px solid crimson;
}

.counter h2 {
font-size: 60px;
color: crimson;
font-family: helvetica;
justify-content: center;
margin-top: 30;
-webkit-filter: blur(4px);
transition: 2s;
}

.counter h2:hover {
    -webkit-filter: blur(0px);
    transition: 2s;
}

.counter-text strong {
display: block;
font-size: 13px;
letter-spacing: 2px;
font-family: helvetica;
margin-bottom: 5px;
}

.counter-text p {
font-size: 16px;
font-style: italic;
color: azure;
margin: 0;
line-height: 1.6;
}

.col-3 {
display: flex;
flex-wrap: wrap;
border-bottom: 1px solid crimson;
}

.act {
width: 33.33%;
padding: 40px 40px;
border-right: 1px solid crimson;
box-sizing: border-box;
}

.act:last-child {
border-right: none;
}

.act .act-label {
font-size: 11px;
color: azure;
letter-spacing: 4px;
font-family: helvetica;
margin-bottom: 15px;
}

.act h3 {
font-size:18px;
font-family: helvetica;
margin: 0 0 15px;
line-height: 1.3;
}

.act p {
font-size: 16px;
line-height: 1.8;
color: azure;
}

.col-3-img {
display: flex;
flex-wrap: wrap;
border-bottom: 1px solid crimson;
}

.col-3-img {
width: 33.33%;
padding: 40px 40px;
border-right: 1px solid crimson;
box-sizing: border-box;
}

.col-3-img:last-child {
border-right: none;
}

.split {
display: flex;
flex-wrap: wrap;
border-bottom: 1px solid crimson;
}

.split-img {
width: 50%;
padding-top: 60px;
min-height: 300px;
background-color: none;
display: flex;
align-items: center;
justify-content: center;
font-size: 10px;
color: azure;
letter-spacing: 2px;
font-family: helvetica;
border-right: 1px solid crimson;
box-sizing: border-box;
}

.split-text {
width: 50%;
padding: 70px 40px;
box-sizing: border-box;
}

.split-text .overline {
font-size: 11px;
letter-spacing: 4px;
color: azure;
font-family: helvetica;
margin-bottom: 20px;
}

.split-text p {
font-size: 17px;
line-height: 1.9;
margin-bottom: 20px;
}

.final {
display: flex;
flex-wrap: wrap;
gap: 0;
border-bottom: 1px solid crimson;
}

.final-left {
width: 45%;
padding: 70px 40px;
border-right: 1px solid crimson;
box-sizing: border-box;
}

.final-left h2 {
font-size: 80px;
font-family: helvetica;
font-weight: bolder;
letter-spacing: 2;
margin: 0;
padding-top: 65px;
line-height: 1;
-webkit-filter: blur(4px);
transition: 2s;
}

.final-left h2:hover {
    -webkit-filter: blur(0px);
    transition: 2s;
}

.final-left h2 span {
color:crimson;
}

.final-right {
width: 55%;
padding: 70px 40px;
box-sizing: border-box;
}

.final-right p {
font-size: 18px;
font-style: italic;
line-height: 1.9;
margin-bottom: 25px;
}

.marquee-container {
width: 100%;
overflow: hidden;
background: crimson;
color: white;
padding: 10px 0;
white-space:nowrap;
margin-top: 20px;
margin-bottom: 20px;
}

.marquee-text span{
display: inline-block;
padding-left: 100%;
animation: scroll-left 10s linear infinite;
font-family: helvetica;
font-size: 20px;
font-weight: bolder;
}

.footer {
display: flex;
flex-wrap: wrap;
border-top: 1px solid crimson;
}

.footer-col {
width: 33.33%;
padding: 30px 40px;
border-right: 1px solid crimson;
box-sizing: border-box;
}

.footer-col:last-child {
border-right: none;
}

.footer-col h3 {
font-size: 18px;
font-family: helvetica;
margin: 0 0 8px;
}

.footer-col h3 span {
color: crimson;
}

.footer-col p {
font-size: 14px;
color: azure;
font-style: italic;
line-height: 1.6;
margin:0;
}

.footer-col ul {
list-style: none;
padding: 0%;
margin: 0;
}

.footer-col ul li {
margin-bottom: 8px;
}

.footer-col ul li a {
font-size: 12px;
color: azure;
text-decoration: none;
letter-spacing: 2px;
font-family: helvetica;
}

.footer-col ul li :hover {
color: crimson;
}


















div.contents{
font-family:"helvetica-neue-world";
font-size:21px;
line-height:20px;
text-align:justify;
margin-top: 10px;
margin-left: 20px;
}

div.container{
    display: flex;
    flex-wrap:wrap;
}

div.item{
    font-family: "helvetica-neue-world";
    background-color:crimson;
    color:aliceblue;
}

div.text {
    font-family: Helvetica, sans-serif;
    margin:100px;
}

div.container {
    display: flex;
    flex-wrap: wrap;
}

.marquee-container {
width: 100%;
overflow: hidden;
background: crimson;
color: white;
padding: 10px 0;
white-space:nowrap;
margin-top: 20px;
margin-bottom: 20px;
}

.marquee-text span{
display: inline-block;
padding-left: 100%;
animation: scroll-left 10s linear infinite;
font-family: helvetica;
font-size: 20px;
font-weight: bolder;
}

@keyframes scroll-left {
0% {transform: translateX(0);}
100% {transform: translateX(-100%);}
}

div.main {
    background-color: black;
    color:white;
}

div.header {
    font-family: helvetica;
    font-weight: bold;
    text-align: justify;
    color: azure;
    background: crimson;
    height: 12vh;
    font-size: 15;
    overflow:auto;
    padding: 2%;
    display: flex;
    gap: 30px;
}

div.quote1 { 
    font-family: helvetica;
    font-weight: bold;
    text-align: justify;
    color: azure;
    font-size: 25px;
    padding: 2%
}

div.mediumfont { 
    font-family: helvetica;
    font-weight: bold;
    color: azure;
    font-size: 75px;
    line-height: 65px;
    padding: 2%
}

div.largefont {
    font-size:165px;
}

div.premise {
    font-family: helvetica;
    font-weight:normal;
    text-align: justify;
    color: azure;
    background: crimson;
    height: 20vh;
    font-size: 15px;
    overflow:auto;
    display: flex;
    padding: 2%
}
#container {
    display: flex;
    background-color: crimson;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
}

#container div{
background-color:azure;
align-items: center;
margin: 10px;
width: 100%;
padding: 5px;
font-family: helvetica;
font-size: 15px;
font-style: normal;
font-weight:60px;
color: black;
}

div.statistic {
    font-family: helvetica;
    font-weight: bold;
    text-align:right;
    color: azure;
    font-size: 80;
    padding: 2%;
    display: flex;
    margin-top: 100px;
}

div.statisticquote {
font-family:"helvetica-neue-world";
font-weight: bold;
color:white;
font-size: 30px;
text-align: right;
padding: 2%;
display: flex;
-webkit-filter: blur(4px);
transition: 2s;
}
div.statisticquote:hover {
    -webkit-filter: blur(0px);
    transition: 2s;
}
div.destruction {
    font-family: helvetica;
    font-weight:normal;
    text-align: justify;
    color: azure;
    background: crimson;
    height: 12vh;
    font-size: 15px;
    overflow:auto;
    padding: 2%
}

div.quote2 {
    font-family: helvetica;
    font-weight: bold;
    text-align: justify;
    color: azure;
    font-size: 25px;
    padding: 2%
}

div.smallquote {
    font-family: helvetica;
    font-weight: lighter;
    font-style: italic;
    text-align: left;
    color: azure;
    font-size: 15px;
    padding: 2%
}

div.potential {
    font-family: helvetica;
    font-weight:normal;
    text-align: justify;
    color: azure;
    background: crimson;
    height: 12vh;
    font-size: 15px;
    overflow:auto;
    display: flex;
    padding: 2%
}

div.reclaiming {
    font-family: helvetica;
    font-weight: bold;
    text-align: justify;
    color: azure;
    font-size: 25px;
    padding: 2% 
}

div.peace {
    font-family: helvetica;
    font-weight:normal;
    text-align: justify;
    color: azure;
    background:crimson;
    height: 9vh;
    font-size: 15px;
    overflow:auto;
    display: flex;
    padding: 2%
}

#container1 {
    display: flex;
    background-color: crimson;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#container1 div{
background-color: azure;
align-items: center;
margin: 10px;
width: 100%;
padding: 5px;
font-family: helvetica;
font-size: 15px;
font-style: normal;
font-weight:60px;
color: black;

}

div.interlinked {
    font-family: helvetica;
    font-weight: lighter;
    font-style: italic;
    text-align: left;
    color: azure;
    font-size: 20px;
    padding: 2%
}

div.quote3 {
    font-family: helvetica;
    font-weight: lighter;
    font-style: italic;
    text-align: left;
    color: azure;
    font-size: 10px;
    padding: 2%
}

div.colophon {
    font-family: helvetica;
    font-weight: bold;
    text-align: justify;
    color: azure;
    background: crimson;
    height: 25vh;
    font-size: 15;
    overflow:auto;
    padding: 2%;
    gap: 30px;
    margin-right: auto;
}

.marquee-container {
width: 100%;
overflow: hidden;
background: crimson;
color: white;
padding: 10px 0;
white-space:nowrap;
margin-top: 20px;
margin-bottom: 20px;
}

.marquee-text span{
display: inline-block;
padding-left: 100%;
animation: scroll-left 10s linear infinite;
font-family: helvetica;
font-size: 20px;
font-weight: bolder;
}

@keyframes scroll-left {
0% {transform: translateX(0);}
100% {transform: translateX(-100%);}
}

div.width20 {
    width: 20%;
}

div.scrollingtext {
    font-family: Helvetica;
    font-weight:bold;
    text-align: justify;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    height:100vh;
    overflow: scroll;
    font-size: 25px;
}

div.maincol {
    height: 100vh;
    overflow: scroll;
}

div.chapterbreak {
    margin-top: 300px;
}